<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'base.html'%}
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='{%static "css/bootstrap.css"%}' rel='stylesheet'>
    <link href='{%static "js/bbmin.js"%}' rel='javascript'>
</head>
<body>
    {%block data%}
    <form method='POST'>
        {%csrf_token%}
        <table class='table'>
            {{form.as_table}}
            <tr>
                <td><input type='submit' value='Save'></td>
                <td><input type='reset' value='Reset'></td>
            </tr>
        </table>
    </form>
    {%endblock%}
</body>
</html>