<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'base.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block data%}
    <form method='POST'>
        {%csrf_token%}
        <table>
            
            {{form.as_table}}
            <tr>
                <td><input type='submit' value='save'></td>
                <td><input type='reset' value='rest'></td>
            </tr>
        </table>
        
    </form>
    {%endblock%}
</body>
</html>