<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to ORM based project</h1>
    <h2><a href='addstudent'>Add Student</a></h2>
    <h2><a href='addemp'>Add Emp</a></h2>
    <h2><a href='addaccount'>Add Account</a></h2>
    <h2><a href='emplist'>Emplist</a></h2>
    <h2><a href='studentlist'>student list</a></h2>
    <h2><a href='accountlist'>Account List</a></h2>
</body>
</html>-->
{%extends 'base.html'%}
{%block data%}

<h1>Creating Templates for Django Website</h1>
<hr>
<br>
<h2>One To One Relationship</h2>
<h2><a href='addqualif'>Add Qualification</a></h2>

<hr>
<h2>Auth App</h2>
<h2><a href='adduser1'>Add User1</a></h2>
<h2><a href='adduser2'>Add User2</a></h2>
<h2><a href='adduser3'>Add User3</a></h2>
<h2><a href='adduser4'>Add User4</a></h2>
<h2><a href='adduser5'>Add User5(customize 1)</a></h2>
<h2><a href='adduser6'>Add User6(customize 2)</a></h2>

<h1>Many TO Many Relationship In Django</h1>
<h2><a href='addsinger'>Add Singer</a></h2>
<h2><a href='addsongs'>Add Songs</a></h2>
<h2><a href='singerlist'>Singer List</a></h2>
<h2><a href='songslist'>Songs List</a></h2>



{%endblock%}
