<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Songs List</h1>
    <table border='1' cellspacing='10'>
        <tr>
            <td>ID</td>
            <td>SongName</td>
            <td>Duration</td>
            <td>Singers</td>
        </tr>
        {%for i in songslist %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.songname}}</td>
            <td>{{i.duration}}</td>
            <td>{{i.getSingers}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>